body {
    margin: 0;
    padding: 0px;
    background-color:black;
    color:white;
    -ms-text-size-adjust: none;
    height:600px;
}

header {
    padding: 0px 0 20px;
}

.title {
    /*font-size: 18px;*/
    font-weight: bold;
    line-height: 30px;
    /*color: white;*/
    text-align:center;
}

.otherInfo {
    font-size: 12px;
    color: #afafaf;
}

.otherData {
    margin: 0px 5px 0 5px;
}

article {
    line-height: 25px;
    font-size: 14px;
    text-wrap:normal;
}

.highlight {
 color:yellow;
 font-weight:bold;
}

article p {
margin: 0;
}