<?xml version="1.0" encoding="utf-8" ?>
<SpringCouplets>
    <Couplet>
       <Type>FiveWords</Type>
      <Guangpi>5555</Guangpi>
      <FirstLine>55555</FirstLine>
      <SecondLine>55555</SecondLine>
    </Couplet>
    <Couplet>
       <Type>FiveWords</Type>
      <Guangpi>5555</Guangpi>
      <FirstLine>55555</FirstLine>
      <SecondLine>55555</SecondLine>
    </Couplet>
    <Couplet>
       <Type>FiveWords</Type>
      <Guangpi>5555</Guangpi>
      <FirstLine>55555</FirstLine>
      <SecondLine>55555</SecondLine>
    </Couplet>
   <Couplet>
       <Type>FiveWords</Type>
      <Guangpi>5555</Guangpi>
      <FirstLine>55555</FirstLine>
      <SecondLine>55555</SecondLine>
    </Couplet>
    <Couplet>
      <Type>FiveWords</Type>
      <Guangpi>5555</Guangpi>
      <FirstLine>55555</FirstLine>
      <SecondLine>55555</SecondLine>
    </Couplet>
    <Couplet>
      <Type>SixWords</Type>
      <Guangpi>6666</Guangpi>
      <FirstLine>666666</FirstLine>
      <SecondLine>666666</SecondLine>
    </Couplet>
   <Couplet>
      <Type>SixWords</Type>
      <Guangpi>6666</Guangpi>
      <FirstLine>666666</FirstLine>
      <SecondLine>666666</SecondLine>
    </Couplet>
   <Couplet>
      <Type>SixWords</Type>
      <Guangpi>6666</Guangpi>
      <FirstLine>666666</FirstLine>
      <SecondLine>666666</SecondLine>
    </Couplet>
    <Couplet>
      <Type>SevenWords</Type>
      <Guangpi>7777</Guangpi>
      <FirstLine>7777777</FirstLine>
      <SecondLine>7777777</SecondLine>
    </Couplet>
   <Couplet>
      <Type>SevenWords</Type>
      <Guangpi>7777</Guangpi>
      <FirstLine>7777777</FirstLine>
      <SecondLine>7777777</SecondLine>
    </Couplet>
   <Couplet>
      <Type>SevenWords</Type>
      <Guangpi>7777</Guangpi>
      <FirstLine>7777777</FirstLine>
      <SecondLine>7777777</SecondLine>
    </Couplet>
    <Couplet>
        <Type>EightWords</Type>
        <Guangpi>8888</Guangpi>
        <FirstLine>88888888</FirstLine>
        <SecondLine>88888888</SecondLine>
    </Couplet>
   <Couplet>
        <Type>EightWords</Type>
        <Guangpi>8888</Guangpi>
        <FirstLine>88888888</FirstLine>
        <SecondLine>88888888</SecondLine>
    </Couplet>
   <Couplet>
        <Type>EightWords</Type>
        <Guangpi>8888</Guangpi>
        <FirstLine>88888888</FirstLine>
        <SecondLine>88888888</SecondLine>
    </Couplet>
    <Couplet>
         <Type>NineWords</Type>
        <Guangpi>9999</Guangpi>
        <FirstLine>999999999</FirstLine>
        <SecondLine>999999999</SecondLine>
    </Couplet>
    <Couplet>
         <Type>NineWords</Type>
        <Guangpi>9999</Guangpi>
        <FirstLine>999999999</FirstLine>
        <SecondLine>999999999</SecondLine>
    </Couplet>
    <Couplet>
         <Type>NineWords</Type>
        <Guangpi>9999</Guangpi>
        <FirstLine>999999999</FirstLine>
        <SecondLine>999999999</SecondLine>
    </Couplet>
    <Couplet>
       <Type>TenWords</Type>
        <Guangpi>1010</Guangpi>
        <FirstLine>1010101010</FirstLine>
        <SecondLine>1010101010</SecondLine>
    </Couplet>
    <Couplet>
       <Type>TenWords</Type>
        <Guangpi>1010</Guangpi>
        <FirstLine>1010101010</FirstLine>
        <SecondLine>1010101010</SecondLine>
    </Couplet>
    <Couplet>
       <Type>TenWords</Type>
        <Guangpi>1010</Guangpi>
        <FirstLine>1010101010</FirstLine>
        <SecondLine>1010101010</SecondLine>
    </Couplet>
</SpringCouplets>